{{diagnostic}}
<div class="container-fluid">
    <div class="row">
 
      <div class="col-md-6 offset-md-3 col-sm-8 offset-sm-2 col-xs-12">
            
            
      <h1>Registration</h1>
      <form #regForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
          <div class="form-group">
              <label for="email">Email Address</label>
              <input id="email" #email="ngModel" name="email" type="text" [(ngModel)]="model.email" placeholder="you@domain.com" class="form-control" #email="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required/>
              <div *ngIf="email.errors && (email.touched || submitted)">
                <div [hidden]="!email.errors.required && email.dirty" class="alert alert-danger">
                  Email is required.
                </div>
                <span [hidden]="!email.errors.pattern" class="alert alert-danger">
                  Email is invalid.
                </span>
              </div>
          </div>
          <div class="form-group">
                  <label for="password">Password</label>
                  <input id="password" #password="ngModel" name="password" type="password" [(ngModel)]="model.password" minlength="8" placeholder="something secret" class="form-control" pattern="^(?=.*\d)(?=.*[!@#$%^&*])(?=.*[a-z])(?=.*[A-Z]).{8,}$" required/>
                  <div *ngIf="password.errors && (password.touched || submitted)">
                    <div [hidden]="!password.errors.required && password.dirty" class="alert alert-danger">
                      Password is required.
                    </div>
                    <span [hidden]="!password.errors.minlength" class="alert alert-danger">
                      Password must be at least 8 character long.
                    </span>
                    <span [hidden]="!password.errors.pattern" class="alert alert-danger">
                      Password must include special characters (!@#$%^&*), alphanumeric and both uppercase & lowercase.
                    </span>
                  </div>
          </div>
          <div class="form-group">
                  <label for="confirmpassword">Confirm Password</label> {{model.confirmPassword != model.password}}
                  <input id="confirmpassword" #confirmpassword="ngModel" name="confirmpassword" [(ngModel)]="model.confirmPassword" type="password" placeholder="something secret"  class="form-control" required [required]="model.password"/>
                  <div *ngIf="confirmpassword.errors && (confirmpassword.touched || submitted)">
                    <div [hidden]="!confirmpassword.errors.required && confirmpassword.dirty" class="alert alert-danger">
                      Confirm Password is required
                    </div>
                  </div>
                  <span [hidden]="!(model.confirmPassword != model.password)" class="alert alert-danger">
                        Password do not match.
                  </span>
                  
          </div>
          <div class="form-group">
                  <label for="fullName">Full Name</label> 
                  <input id="fullName" #fullname="ngModel" name="fullName" type="text" placeholder="Adam Smith" [(ngModel)]="model.fullname" class="form-control" required />
                  <div *ngIf="fullname.errors && (fullname.touched || submitted)">
                    <div [hidden]="!fullname.errors.required && fullname.dirty" class="alert alert-danger">
                      Full Name is required
                    </div>
                  </div>  
          </div>
          <div class="form-group">
                  <label for="gender">Gender</label>
                  <br/>
                  <input id="gender" name="gender" type="radio" [(ngModel)]="model.gender" value="M"/>Male
                  <br/>
                  <input id="gender" name="gender" type="radio" [(ngModel)]="model.gender" value="F" />Female
                  
          </div>

          <div class="form-group">
                  <label for="dob">Date of Birth</label>
                  <input id="dob" name="dob" type="date" #dateOfBirth="ngModel" class="form-control" [(ngModel)]="model.dateOfBirth"  value="{{ model.dateOfBirth | date: 'dd/MM/yyyy' }}" required/>
                  <div *ngIf="dateOfBirth.errors && (dateOfBirth.touched || submitted)">
                    <div [hidden]="!dateOfBirth.errors.required && dateOfBirth.dirty" class="alert alert-danger">
                      Date of Birth is required
                    </div>
                  </div>
          </div>

          <div class="form-group">
                  <label for="address">Address</label>
                  <input id="address" name="address" #address="ngModel" type="text" class="form-control" [(ngModel)]="model.address" required/>
                  <div *ngIf="address.errors && (address.touched || submitted)">
                    <div [hidden]="!address.errors.required && address.dirty" class="alert alert-danger">
                      Address is required
                    </div>
                  </div>
          </div>

          <div class="form-group">
                  <label for="nationality">Nationality</label>
                  <select class="form-control" #nationality="ngModel" id="nationality" [(ngModel)]="model.nationality" [ngModelOptions]="{standalone: true}" (ngModelChange)="onChange($event)" required>
                    <option *ngFor="let nationality of nationalities" [ngValue]="nationality.value">{{nationality.desc}}</option> 
                  </select>
                  <p *ngIf="nationalities.length > 3">There are many countries!</p>
                  <div *ngIf="nationality.errors && (nationality.touched || submitted)">
                    <div [hidden]="!nationality.errors.required && nationality.dirty" class="alert alert-danger">
                      Nationality is required.
                    </div>
                  </div>
          </div>
          
          <div class="form-group">
                  <label for="contactNumber">Contact Number</label>
                  <input id="contactNumber"  #contactNumber="ngModel" name="contactNumber" type="number" class="form-control"  [(ngModel)]="model.contactNumber" pattern="[0-8]*" required/>
                  <div *ngIf="contactNumber.errors && (contactNumber.touched || submitted)">
                    <div [hidden]="!contactNumber.errors.required && contactNumber.dirty" class="alert alert-danger">
                      Contact no. is required.
                    </div>
                    <span [hidden]="!contactNumber.errors.pattern" class="alert alert-danger">
                      Contact no. is invalid.
                    </span>
                  </div>  
          </div>

          <div class="form-group">
              <hr/>
              <button type="submit" [disabled]="!regForm.form.valid" class="btn btn-success">Submit</button>
              <button type="reset" class="btn btn-danger" (click)="regForm.reset()">Reset</button>
          </div>
              
      </form>
      </div>
  
    </div>
</div>

